/*
Estilos da página index.html
*/

body {
    background-color: coral;
    
}
.center {
    text-align: center;
}
.justify{
    text-align: justify;
}
.container {
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
#menu li {
    display: inline;
    padding: 20px;
}
#menu li a {
    text-decoration: none;
    color:black;
    font-size: 20px;

}
#menu li a:hover {
    color:red;
}
.p-30 {
    padding: 30px;
}
.br-50 {
    border-radius: 50%;
}
.wh {
    width: 500px;
    height: 500px;
}
.tm-social {
    width: 20px;
    height: 20px;
}
.mb-50 {
    margin-bottom: 50px;
}



/*
Estilos da página contato.html
*/

.ml-50 {
    margin-left: 50px;
}